<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>IFSales</display-name>
    <welcome-file-list>
        <welcome-file>/pages/login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>createUser</param-name>
        <param-value>br.com.ifsales.servlets.helpers.CreateUserHelper</param-value>
    </context-param>
    <context-param>
        <param-name>login</param-name>
        <param-value>br.com.ifsales.servlets.helpers.LoginUserHelper</param-value>
    </context-param>
    <context-param>
        <param-name>home</param-name>
        <param-value>br.com.ifsales.servlets.helpers.HomeHelper</param-value>
    </context-param>
    <context-param>
        <param-name>logout</param-name>
        <param-value>br.com.ifsales.servlets.helpers.LogoutUserHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listSalespersons</param-name>
        <param-value>br.com.ifsales.servlets.helpers.ListSalespersonsHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveSalesperson</param-name>
        <param-value>br.com.ifsales.servlets.helpers.SaveSalespersonHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateSalesperson</param-name>
        <param-value>br.com.ifsales.servlets.helpers.UpdateSalespersonHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteSalesperson</param-name>
        <param-value>br.com.ifsales.servlets.helpers.DeleteSalespersonHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listRegions</param-name>
        <param-value>br.com.ifsales.servlets.helpers.ListRegionsHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveRegion</param-name>
        <param-value>br.com.ifsales.servlets.helpers.SaveRegionHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateRegion</param-name>
        <param-value>br.com.ifsales.servlets.helpers.UpdateRegionHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteRegion</param-name>
        <param-value>br.com.ifsales.servlets.helpers.DeleteRegionHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listStores</param-name>
        <param-value>br.com.ifsales.servlets.helpers.store.ListStoreHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveStore</param-name>
        <param-value>br.com.ifsales.servlets.helpers.store.SaveStoreHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateStore</param-name>
        <param-value>br.com.ifsales.servlets.helpers.store.UpdateStoreHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteStore</param-name>
        <param-value>br.com.ifsales.servlets.helpers.store.DeleteStoreHelper</param-value>
    </context-param>
    <context-param>
        <param-name>loadProductForm</param-name>
        <param-value>br.com.ifsales.servlets.helpers.LoadProductFormHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listProducts</param-name>
        <param-value>br.com.ifsales.servlets.helpers.ListProductsHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveProduct</param-name>
        <param-value>br.com.ifsales.servlets.helpers.SaveProductHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateProduct</param-name>
        <param-value>br.com.ifsales.servlets.helpers.UpdateProductHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteProduct</param-name>
        <param-value>br.com.ifsales.servlets.helpers.DeleteProductHelper</param-value>
    </context-param>
</web-app>