<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>IFSales</display-name>
    <welcome-file-list>
        <welcome-file>/pages/login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>createUser</param-name>
        <param-value>br.com.ifsales.servlets.helpers.user.CreateUserHelper</param-value>
    </context-param>
    <context-param>
        <param-name>login</param-name>
        <param-value>br.com.ifsales.servlets.helpers.user.LoginUserHelper</param-value>
    </context-param>
    <context-param>
        <param-name>dashboard</param-name>
        <param-value>br.com.ifsales.servlets.helpers.DashboardHelper</param-value>
    </context-param>
    <context-param>
        <param-name>home</param-name>
        <param-value>br.com.ifsales.servlets.helpers.home.HomeHelper</param-value>
    </context-param>
    <context-param>
        <param-name>logout</param-name>
        <param-value>br.com.ifsales.servlets.helpers.user.LogoutUserHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listSalespersons</param-name>
        <param-value>br.com.ifsales.servlets.helpers.salesperson.ListSalespersonsHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveSalesperson</param-name>
        <param-value>br.com.ifsales.servlets.helpers.salesperson.SaveSalespersonHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateSalesperson</param-name>
        <param-value>br.com.ifsales.servlets.helpers.salesperson.UpdateSalespersonHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteSalesperson</param-name>
        <param-value>br.com.ifsales.servlets.helpers.salesperson.DeleteSalespersonHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listRegions</param-name>
        <param-value>br.com.ifsales.servlets.helpers.region.ListRegionsHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveRegion</param-name>
        <param-value>br.com.ifsales.servlets.helpers.region.SaveRegionHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateRegion</param-name>
        <param-value>br.com.ifsales.servlets.helpers.region.UpdateRegionHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteRegion</param-name>
        <param-value>br.com.ifsales.servlets.helpers.region.DeleteRegionHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listStores</param-name>
        <param-value>br.com.ifsales.servlets.helpers.store.ListStoreHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveStore</param-name>
        <param-value>br.com.ifsales.servlets.helpers.store.SaveStoreHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateStore</param-name>
        <param-value>br.com.ifsales.servlets.helpers.store.UpdateStoreHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteStore</param-name>
        <param-value>br.com.ifsales.servlets.helpers.store.DeleteStoreHelper</param-value>
    </context-param>
    <context-param>
        <param-name>loadProductForm</param-name>
        <param-value>br.com.ifsales.servlets.helpers.product.LoadProductFormHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listProducts</param-name>
        <param-value>br.com.ifsales.servlets.helpers.product.ListProductsHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveProduct</param-name>
        <param-value>br.com.ifsales.servlets.helpers.product.SaveProductHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateProduct</param-name>
        <param-value>br.com.ifsales.servlets.helpers.product.UpdateProductHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteProduct</param-name>
        <param-value>br.com.ifsales.servlets.helpers.product.DeleteProductHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listCategories</param-name>
        <param-value>br.com.ifsales.servlets.helpers.category.ListCategoriesHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveCategory</param-name>
        <param-value>br.com.ifsales.servlets.helpers.category.SaveCategoryHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateCategory</param-name>
        <param-value>br.com.ifsales.servlets.helpers.category.UpdateCategoryHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteCategory</param-name>
        <param-value>br.com.ifsales.servlets.helpers.category.DeleteCategoryHelper</param-value>
    </context-param>
    <context-param>
        <param-name>loadCustomerForm</param-name>
        <param-value>br.com.ifsales.servlets.helpers.customer.LoadCustomerFormHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listCustomers</param-name>
        <param-value>br.com.ifsales.servlets.helpers.customer.ListCustomersHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveCustomer</param-name>
        <param-value>br.com.ifsales.servlets.helpers.customer.SaveCustomerHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateCustomer</param-name>
        <param-value>br.com.ifsales.servlets.helpers.customer.UpdateCustomerHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteCustomer</param-name>
        <param-value>br.com.ifsales.servlets.helpers.customer.DeleteCustomerHelper</param-value>
    </context-param>
    <context-param>
        <param-name>loadFunnelForm</param-name>
        <param-value>br.com.ifsales.servlets.helpers.funnel.LoadFunnelFormHelper</param-value>
    </context-param>
    <context-param>
        <param-name>listFunnels</param-name>
        <param-value>br.com.ifsales.servlets.helpers.funnel.ListFunnelsHelper</param-value>
    </context-param>
    <context-param>
        <param-name>saveFunnel</param-name>
        <param-value>br.com.ifsales.servlets.helpers.funnel.SaveFunnelHelper</param-value>
    </context-param>
    <context-param>
        <param-name>updateFunnel</param-name>
        <param-value>br.com.ifsales.servlets.helpers.funnel.UpdateFunnelHelper</param-value>
    </context-param>
    <context-param>
        <param-name>deleteFunnel</param-name>
        <param-value>br.com.ifsales.servlets.helpers.funnel.DeleteFunnelHelper</param-value>
      </context-param>
      <context-param>
        <param-name>loadStoreForm</param-name>
        <param-value>br.com.ifsales.servlets.helpers.store.LoadStoreFormHelper</param-value>
    </context-param>
</web-app>